/* .nav-bar{
    height: 100%;
    background: red;
    width: 279px;
    position: fixed;
}
.container{
    display: flex;
}
.header-content{
    margin-left: 279px;
    width: 100%;
}
.header{
    border: 1px solid;
}
.content{
    height: 100%;
    border: 1px solid;
} */